node_modules
.vscode
.idea
.eslintrc.yml
.gitignore
.dockerignore
.huskyrc
Dockerfile
cm.yaml
VERSION
README.md
generatedAgent
scripts
test
generatedProcessflows
generatedFlows
generatedFaas
generatedFaasTest
ds-faas
ds-b2b-base
dn-flow-base
LAST_PULL
LAST_PULL_CM
CURRENT_CM
LATEST_CM